<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">flixme</a>
    <form class="form-inline">
      <input [(ngModel)]="searchInput" class="form-control mr-sm-2" type="text" placeholder="Search by title..." aria-label="Search" [ngModelOptions]="{standalone: true}"/>
      <button (click)="searchAllMovies()" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
  <p *ngFor="let movie of list"> {{ movie.title }}</p>
<div class="form-container">
       
<h2>What are you looking for?</h2>

    <!-- <div class="container">
        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-primary">Movie</button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-primary">TV</button>
          </div>
          
          <div class="col">
            <button type="button" class="btn btn-primary">Either</button>
          </div>
        </div>
    </div> -->

    <div class="container">
            <div class="row">
              <div class="col">
                <input type="radio" name="mediaType" value="Movies" (click)="setMediaType('Movie')">Movies
              </div>
              <div class="col">
                    <input type="radio" name="mediaType" value="TV" (click)="setMediaType('Series')">TV
              </div>
              <!-- <div class="w-100"></div> -->
              <div class="col">
                    <input type="radio" name="mediaType" value="Either" (click)="setMediaType('Any')">Either
              </div>
            </div>
        </div>

<h2>Pick a year</h2>
    <div class="container">
        <div class="row">
          <div class="col">
                <input type="radio" name="dateRange" value="classic" (click)="setDateRange('classic')">Classic
          </div>
          <div class="col">
                <input type="radio" name="dateRange" value="contemporary" (click)="setDateRange('contemporary')">Contemporary
          </div>
          <!-- <div class="w-100"></div> -->
          <div class="col">
                <input type="radio" name="dateRange" value="suprise" (click)="setDateRange('suprise')">Suprise Me
          </div>
        </div>
    </div>

<h2>I'm in the mood for something...</h2>
    <div class="container">
        <div class="row">
          <div class="col">
                <input type="radio" name="mood" value="Action" (click)="setGenre('Action')">Action
          </div>
          <div class="col">
                <input type="radio" name="mood" value="Comedy" (click)="setGenre('Comedy')">Comedy
          </div>
          <!-- <div class="w-100"></div> -->
          <div class="col">
                <input type="radio" name="mood" value="Romance" (click)="setGenre('Romance')">Romance
          </div>
          <div class="w-100"></div>
          <div class="col">
                <input type="radio" name="mood" value="Drama" (click)="setGenre('Drama')">Drama
          </div>
          <div class="col">
                <input type="radio" name="mood" value="Horror" (click)="setGenre('Horror')">Horror
          </div>
          <div class="col">
                <input type="radio" name="mood" value="Children" (click)="setGenre('Children')">Children & Family
          </div>
        </div>
    </div>


<h2>What country do you live in?</h2>

      <select [(ngModel)]="selectedLocation" ><br><br>
        <option *ngFor="let l of locations" [ngValue]="l.id">{{ l.name }}</option>
    </select><br><br>

    <div class="col">
            <button (click)="getAllMovies()" type="button" class="btn btn-primary">See Suggestions</button>
          </div>
      <!-- <button (click)="getAllMovies()">Get Movies</button> -->


      <p *ngFor='let movie of films'> {{ movie.title }} </p>

      <button (click)="getAllImdbDetails()">Get IMDB Details</button>

      <ul>
        <li *ngIf='movie'>
          <p> {{ movie.filmid }} ({{movie.genre}})</p>
          <p><img src="{{ movie.poster }}" target="_blank" class="url"/></p>
          <p> plot: {{ movie.plot }} </p>
          <p> released: {{ movie.released }} </p>
          <p> movie length: {{ movie.runtime }} </p>
        </li>
    </ul>


