<!-- **navbar** -->
<nav class="navbar navbar-light bg-light navbar-custom" id="navRev">
    <a class="navbar-brand" id="flixmeRev">flixme</a>
    <form class="form-inline" id="inputCont">
      <input [(ngModel)]="searchInput" class="form-control mr-sm-2 input-custom" type="text" placeholder="Search by keyword..." aria-label="Search" [ngModelOptions]="{standalone: true}" id="inputRev" />
      <button (click)="searchAllMovies()" class="btn btn-outline-success my-2 my-sm-0" type="submit" data-toggle="modal" data-target=".bd-example-modal-lg">Search</button>
    </form>
  </nav>

 
<!-- **form** -->
<div class="form-container">

  <div class= "header_div">  
    <h2>I'm looking for a...</h2>
  </div>   
   
 
        <div class="container">

                <div class="row" *ngFor="let type of mediaButtons">
                  <div class="col">
                    <button class="buttonInput"type="button" id="{{type}}" (click)="setMediaType(type)">{{ type }}</button>
                  </div>
                </div>
            </div>


  <!-- </div> -->
  <!-- <div class= "header_div"> 
<h2>I'd prefer a...</h2>
  </div>
    <div class="container">
        <div class="row">
          <div class="col">
                <input type="radio" name="dateRange" value="classic" (click)="setDateRange('classic')">Classic
          </div>
          <div class="col">
                <input type="radio" name="dateRange" value="contemporary" (click)="setDateRange('contemporary')">Contemporary
          </div>
          <div class="col">
                <input type="radio" name="dateRange" value="suprise" (click)="setDateRange('suprise')">Suprise Me
          </div>
        </div>
    </div> -->



<div class= "header_div">    
  <h2>I'm in the mood for...</h2>
</div>


    <div class="container">

            <div class="row" *ngFor="let type of genreButtons">
              <div class="col">
                <button class="buttonInput" type="button" id="{{type}}" (click)="setGenre(type)">{{ type }}</button>
              </div>
            </div>
        </div>


<div class= "header_div"> 
  <h2>I'm watching in...</h2>
</div>

      <h1><select [(ngModel)]="selectedLocation" ><br><br>
        <option *ngFor="let l of locations" [ngValue]="l.id">{{ l.name }}</option>
    </select></h1><br>



</div>

  <div class="button_div">
      <button (click)="getAllMovies()" type="button" class="btn btn-primary">See Suggestions</button>
  </div>
    

<!-- **search results container** -->
<div class="search_results_container">
    <div class="search_results_div" *ngFor='let movie of list'>
      
        <div class="image-container">
            <img class='movie_img' src={{movie.image}} alt="">
        </div>  
      
        <h5 class="movie_heading">{{ movie.title | replaceAscii }}</h5>
       <a (click)="getAllImdbDetails(movie.netflixid)" class="btn btn-primary" href="#popup1">See Details</a> 
      
    </div>

</div>

<!-- **imdb modal** -->
<div class="imdb_results_container" *ngIf='movie'>
  <div class="imdb_results_div"> 
  <div id="popup1" class="overlay">
    <div class="popup">
  <h2>{{ movie.title }}</h2>
      <a class="close" href="#">&times;</a>
      <div class="content">
          <ul>
              <li *ngIf='movie'>
                <div class="imdb-image-container">
                <img class="imdb_img" src="{{ movie.poster }}" target="_blank" class="url"/>
                </div>
                <p> Plot: {{ movie.plot }} </p>
                <p> Genre: ({{movie.genre}})</p>
                <p> Released: {{ movie.released }} </p>
                <p> Movie Length: {{ movie.runtime }} </p>
                <p> View on <a href="{{ baseUrl }}{{ movie.imdbid }}">imdb</a></p>
              </li>
          </ul>
      </div>
    </div>
  </div>
  </div>
  </div>
  
