<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">flixme</a>
    <form class="form-inline">
      <input [(ngModel)]="searchInput" class="form-control mr-sm-2" type="text" placeholder="Already have a title in mind?" aria-label="Search" [ngModelOptions]="{standalone: true}"/>
      <!-- <input [(ngModel)]="searchInput" class="searchInput" type="text" placeholder="Search for a movie"/> -->
      <button (click)="searchAllMovies()" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
  <p *ngFor="let movie of list"> {{ movie.title }}</p>
<div class="form-container">
    <!-- <button type="button" class="btn btn-primary btn-lg btn-block">Pick one</button> -->
       
<h2>What are you looking for?</h2>

    <div class="container">
        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-primary">Movie</button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-primary">TV</button>
          </div>
          <!-- <div class="w-100"></div> -->
          <div class="col">
            <button type="button" class="btn btn-primary">Either</button>
          </div>
        </div>
    </div>

<h2>Pick a year</h2>
    <div class="container">
        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-primary">Classic</button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-primary">Contemporary</button>
          </div>
          <!-- <div class="w-100"></div> -->
          <div class="col">
            <button type="button" class="btn btn-primary">Surprise Me</button>
          </div>
        </div>
    </div>

<h2>I'm in the mood for something...</h2>
    <div class="container">
        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-primary">Thrilling</button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-primary">LOL</button>
          </div>
          <!-- <div class="w-100"></div> -->
          <div class="col">
            <button type="button" class="btn btn-primary">Bloody</button>
          </div>
          <div class="w-100"></div>
          <div class="col">
            <button type="button" class="btn btn-primary">Dramatic</button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-primary">Dramatic</button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-primary">Dramatic</button>
          </div>
        </div>
    </div>


<h2>What country do you live in?</h2>

      <select [(ngModel)]="selectedLocation" ><br><br>
        <option *ngFor="let l of locations" [ngValue]="l.id">{{ l.name }}</option>
    </select><br><br>

      <button (click)="getAllMovies()">Get Movies</button>

      <p *ngFor='let movie of films'> {{ movie.title }} </p>

   
    </div>  