body {
    color: white;
    height: 100vh;
    /* display: flex; */
    margin: 0 auto;
    font-family: sans-serif;
    background-image: linear-gradient(-215deg, 
    rgb(0, 191, 255), 
    rgb(45, 148, 243) 55%, 
    rgb(145, 54, 161217));
  }

.btn-primary {
  width: 100%;
  margin-top: 10px;
}

.form-container {
  margin: 5px;
}

h2 {
  text-align: center;
}

.question-container {
  border: 1px solid black;
  margin: 20px 60px;
}

.btn-primary btn-lg btn-block {
  border: none;
}