body {
    color: white;
    height: 100vh;
    /* display: flex; */
    margin: 10px;
    font-family: sans-serif;
    background-image: linear-gradient(-215deg, 
    rgb(0, 191, 255), 
    rgb(45, 148, 243) 55%, 
    rgb(145, 54, 161217));
  }

.btn-primary {
  width: 100%;
}